.label {
  font-size: 1rem;
  margin-right: 2vw;
  margin-top: 1vh;
  width: 80vw;
}

h1 {
  color: purple;
}

.form{
  display: flex;
}

.submit-button{
  color: white;
  margin-left: 5vh;
  background-color: purple;
}

Table {
  display: flex;
}

